[submodule "src/serial"]
	path = src/serial
	url = https://github.com/wjwwood/serial
[submodule "src/teraranger_array"]
	path = src/teraranger_array
	url = https://github.com/Terabee/teraranger_array
[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping
[submodule "src/navigation"]
	path = src/navigation
	url = https://github.com/ros-planning/navigation/
[submodule "src/openslam_gmapping"]
	path = src/openslam_gmapping
	url = https://github.com/OpenSLAM-org/openslam_gmapping
